<%- include('../partials/admin-header')%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add or Block a category</p>
                </div>
                <!-- <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div> -->
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/admin/admin_panel/edit_category?id=<%=category._id%>" onsubmit="return validateForm()">
                                <div class="mb-4">
                                  <label for="categoryID" class="form-label">#ID</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="categoryID"
                                    name="categoryId"
                                    value="<%=category.categoryId%>"
                                    required
                                  />
                                </div>
                                <div class="mb-4">
                                  <label for="categoryName" class="form-label">Name</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="categoryName"
                                    name="categoryName"
                                    value="<%=category.categoryName%>"
                                    required
                                  />
                                </div>
                                <div class="mb-4">
                                  <label class="form-label">Status</label>
                                  <select class="form-select" name="status">
                                    <option value="Listed" <%if(category.status === 'Listed'){%> selected <%}%>> List </option>
                                    <option value="Unlisted" <%if(category.status === 'Unlisted'){%> selected <%}%>> Unlist </option>
                                  </select>
                                </div>
                                <div class="d-grid">
                                  <button class="btn btn-primary" type="submit">Update category</button>
                                </div>
                              </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if(categories){%>

                                            <%for(i=0;i<categories.length;i++){%>
                                                <tr>
                                                    <td><%=categories[i].categoryId%></td>
                                                    <td><b><%=categories[i].categoryName%></b></td>
                                                    <td>
                                                        <%if(categories[i].isListed=="Listed"){%>
                                                            <span class="badge rounded-pill alert-success">Listed</span>
                                                        <%}else{%>
                                                            <span class="badge rounded-pill alert-danger">Unlisted</span>
                                                        <%}%>
                                                    </td>

                                                    <td><a href="/admin/admin_panel/edit_category?id=<%=categories[i]._id%>" class="btn btn-lg font-sm rounded btn-brand">
                                                        <i class="material-icons md-edit"></i> Edit
                                                    </a></td>
                                                    <td>
                                                        <%if(categories[i].isListed=="Listed"){%>
                                                            <a href="/admin/admin_panel/block_category?id=<%=categories[i]._id%>" class="btn btn-lg font-sm btn-danger rounded"> Block</a>
                                                        <%}else{%>
                                                            <a href="/admin/admin_panel/unblock_category?id=<%=categories[i]._id%>" class="btn btn-lg font-sm btn-success rounded"> Unblock</a>
                                                        <%}%>
                                                    </td>
        
                                                </tr>
                                            <%}%>
                
                                        <%}else{%>
                                            <tr>
                                                <td>
                                                    <h4>No Category Found</h4>
                                                </td>
                                            </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <script>
            function validateForm() {
  var categoryID = document.getElementById("categoryID").value;
  var categoryName = document.getElementById("categoryName").value.trim();

  // Number validation for categoryID
  if (isNaN(categoryID)) {
    alert("#ID must be a valid number.");
    return false; // Prevent form submission
  }

  // Check if categoryID is empty
  if (categoryID === "") {
    alert("#ID field cannot be empty.");
    return false; // Prevent form submission
  }

  // Check if categoryName is empty
  if (categoryName === "") {
    alert("Name field cannot be empty.");
    return false; // Prevent form submission
  }

  // All fields are valid, allow form submission
  return true;
}
        </script>
        <%- include('../partials/admin-footer')%>