<%- include('../partials/user-header')%>
<div class="container">
    <h2 class="mt-3" style="color: #046963;">Edit User Address</h2>
    <form id="addressForm" method="POST" action="/address/edit?id=<%=matchingAddress._id %>">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="addressType">Address Type:</label>
                <input type="text" class="form-control" id="addressType" name="addressType" required value="<%=matchingAddress.addressType%>">
            </div>
            <div class="form-group col-md-4">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required value="<%=matchingAddress.name%>">
            </div>
            <div class="form-group col-md-4">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="city" required value="<%=matchingAddress.city%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="landMark">Landmark:</label>
                <input type="text" class="form-control" id="landMark" name="landMark" required value="<%=matchingAddress.landMark%>">
            </div>
            <div class="form-group col-md-4">
                <label for="state">State:</label>
                <input type="text" class="form-control" id="state" name="state" required value="<%=matchingAddress.state%>">
            </div>
            <div class="form-group col-md-4">
                <label for="pincode">Pincode:</label>
                <input type="number" class="form-control" id="pincode" name="pincode" required value="<%=matchingAddress.pincode%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="phone">Phone:</label>
                <input type="number" class="form-control" id="phone" name="phone" required value="<%=matchingAddress.phone%>">
            </div>
            <div class="form-group col-md-4">
                <label for="altPhone">Alternate Phone:</label>
                <input type="number" class="form-control" id="altPhone" name="altPhone" required value="<%=matchingAddress.altPhone%>">
            </div>
        </div>
        <button type="submit" id="submitButton" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>

<script>
    document.getElementById('submitButton').addEventListener('click', function(event) {
        if (!validateForm()) {
            event.preventDefault(); 
        }
    });

    function validateForm() {
        let isValid = true;     
        const requiredFields = ["addressType", "name", "city", "landMark", "state", "pincode", "phone", "altPhone"];
        requiredFields.forEach(function(field) {
            const input = document.getElementById(field);
            if (input.value.trim() === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Enter all the fields!',
                    footer: '<a href="">Why do I have this issue?</a>'
                })
                isValid = false;
            }
        });

        return isValid;
    }
</script>
<%- include('../partials/user-footer')%>
